@font-face {
    font-family: helveticaobold;
    src: url(fonts/helvetica/Helvetica-Oblique.ttf);
    font-weight: 500;
}

@font-face {
    font-family: helveticabold;
    src: url(fonts/helvetica/helvetica-rounded-bold-5871d05ead8de.otf);
    font-weight: 400;
}

@font-face {
    font-family: helveticabold;
    src: url(fonts/helvetica/Helvetica-Bold.ttf);
    font-weight: 700;
}

:root {
    --bg-primary: #000;
    --bg-secondary: #191919;
    --green: #DEF3DF;
    --light: #fff;
    --primaryFont: helveticabold, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
    font-weight: 400px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

html,
body {
    background: var(--bg-primary);
    color: var(--light);
    font-family: var(--primaryFont);
}


button {
    height: 50px;
    width: 180px;
    border-radius: 100px;
    border: 1px solid var(--light);
    background: var(--green);
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--light);
        color: var(--bg-primary);
    }
}

/* hero section */

.hero-section {
    position: relative;
    background: var(--bg-secondary);
    height: 100vh;
    display: flex;
    overflow: hidden;

    nav {
        min-width: 270px;
        display: flex;
        border-right: 1px solid var(--light);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 80px;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            li {
                list-style: none;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: var(--green);
                        text-decoration: underline;
                    }
                }
            }
        }

        .linkedin {
            img {
                height: 50px;
                width: 50px;
            }

        }
    }

    .header {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 25px;
        position: relative;

        button {
            position: absolute;
            right: 80px;
            top: 60px;
        }

        .basic-details {
            .avatar {
                display: flex;
                align-items: center;
                gap: 10px;

                div {
                    background: var(--green);
                    height: 7px;
                    width: 7px;
                    border-radius: 50%;
                }

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 26px;
                    border: 1px solid var(--light);
                }


            }
        }

    }

    .top-bg {
        position: absolute;
        top: -10%;
        right: -60%;
    }

}

/* about section */

.about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 100px;


    .image-container {

        img {
            height: 80vh;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 32px;

    }
}

/* experience section */

.experience-section {
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 120px 80px;

    h2 {
        margin-bottom: 50px;
        text-align: center;
    }

    .experience-card {
        background: var(--bg-primary);
        padding: 40px;
        border: 1px solid var(--green);
        border-radius: 10px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .tag {
            background: var(--green);
            color: var(--bg-primary);
            padding: 5px 20px;
            border-radius: 9999px;
            font-size: 13px;
            line-height: 1;
        }

        h3 {
            color: var(--green);
        }

        h4 {
            color: var(--green);
        }

        p {
            max-width: 60%;
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

}

/* project section */

.project-section {
    background-color: var(--bg-primary);
    gap: 25px;
    padding: 120px 80px;

    h2 {
        margin-bottom: 50px;
        text-align: center;
    }

    .project-card {
        background: var(--bg-secondary);
        padding: 60px 40px;
        border: 1px solid var(--green);
        border-radius: 10px;
        display: flex;
        gap: 40px;

        .left {

            .project-overview {


                .title {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .number {
                        background: var(--green);
                        color: var(--bg-primary);
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 9999px;
                        border: 1px solid var(--light);
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                p {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }

            }

            .key-features {
                h3 {
                    margin-bottom: 16px;
                }

                ul {
                    padding-left: 17px;

                    li {
                        margin-top: 8px;
                        line-height: 24px;
                    }
                }
            }
        }

        .right {

            .technologies {
                margin-top: 20px;

                h3 {
                    margin-bottom: 16px;
                }

                ul {
                    padding-left: 17px;

                    li {
                        margin-top: 8px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

/* my skill section */

.skill-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: var(--bg-primary);
    padding: 120px 80px;
    text-align: center;

    h2 {
        margin-bottom: 50px;
        text-align: center;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

/* contact-section */

.contact-section {
    background: var(--bg-secondary);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 100px;


    .image-container {

        img {
            height: 80vh;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        p {
            max-width: 60%;
        }

        .linkedin-container {
            display: flex;
            gap: 20px;
            align-items: center;

            .linkedin {
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }

    }
}

.bar {
    background: var(--green);
    border-radius: 999px;
    height: 5px;
}