:root {
    --primary: white;
    --secondary: black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

.container {
    max-width: 1200px;
    margin: 32px auto;
}

.top-section {
    background-color: var(--secondary);
    width: 100%;
    min-height: 216px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.avatar {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background: var(--primary);
    flex-shrink: 0;
}


.circle-input-section {
    display: flex;
    height: 120px;
    gap: 10px;
    align-items: center;
    padding: 10px;

    .avatar {}

    .input {
        border-radius: 64px;
        height: 100px;
        width: 100%;
        background: var(--primary);
    }
}

.tag-info-section {
    min-height: 48px;
    display: flex;
    gap: 40px;
    justify-content: center;

    .tag-info {
        display: flex;
        gap: 16px;
        width: 184px;


        .square {
            height: 48px;
            width: 48px;
            background: var(--primary);
            flex-shrink: 0;
        }

        .line-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 6px;

            .line {
                flex: 1;
                width: 100%;
                background: var(--primary);
            }

        }
    }
}

.bottom-container {
    margin-top: 40px;
    min-height: 1100px;
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;


    .user-info-container {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .user-info {
            display: flex;
            gap: 12px;
            width: 100%;

            .avatar {}

            .details {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 232px;
                padding: 8px;

                .rect {
                    background: var(--primary);
                    height: 28px;
                    width: 100%;
                }

                .line {
                    background: var(--primary);
                    height: 8px;
                    width: 100%;
                }

                .more-details {
                    display: flex;
                    gap: 4px;
                    height: 20px;

                    .box1 {
                        width: 20px;
                        height: 20px;
                        background: var(--primary);
                    }

                    .box2 {
                        width: 76px;
                        height: 100%;
                        background: var(--primary);
                    }
                }

            }
        }

        .controls {
            display: flex;
            gap: 8px;

            .control {
                height: 48px;
                width: 48px;
                background: var(--primary);
                flex-shrink: 0;
            }
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .bar1 {
            height: 28px;
            width: 358px;
            background: var(--primary);
        }

        .bar2 {
            height: 72px;
            width: 100%;
            background: var(--primary);
        }

        .content {
            width: 100%;
            height: 100vh;
            background: var(--primary);
        }
    }
}

.spacing {
    padding: 0 16px;
    margin-bottom: 32px;
}

@media screen and (width>1200px) {}

@media screen and (width<1200px) and (width>450px) {}

@media screen and (width<600px) {
    .tag-info-section {
        flex-direction: column;
        gap: 12px;

        .tag-info {

            width: 100%;
        }

    }

    .bottom-container {
        .user-info-container {
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .content-container {
            .bar1 {
                height: 28px;
                width: 100%;

            }
        }

        .details {
            height: 88px;
            width: 100%;
           
            
        }

        .user-info-container {
            .controls {
                .control {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }

    .avatar {
        height: 64px;
        width: 64px;
    }

    .circle-input-section {
        height: 100%;
        padding: 3px;

        .input {
            height: 64px;
            width: 100%;

        }
    }
}